<div class="container-fluid">
    <div class="p-4 p-md-5 mb-4 mt-3 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Welcome to the Restaurent App</h1>
            <p class="lead my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
            <button class="btn btn-primary"><a class="text-white text-decoration-none" routerLink="menu">View
                    Menu</a></button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card rounded">
                <img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0" class="card-img-top" alt="image1">
                <div class="card-body">
                    <p class="card-text">
                        Order Online
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded">
                <img src="https://images.unsplash.com/photo-1552566626-52f8b828add9" class="card-img-top" alt="image2">
                <div class="card-body">
                    <p class="card-text">
                        Menu
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded ">
                <img src="https://images.unsplash.com/photo-1550966871-3ed3cdb5ed0c" class="card-img-top" alt="image3">
                <div class="card-body">
                    <p class="card-text">
                        Reservation
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <h1 class="text-uppercase text-primary">Our Dishes</h1>
    <div class="row mt-3">
        <div class="col-md-4">
          <img src="https://images.unsplash.com/photo-1639124215495-cc6e181971de" class="img-fluid rounded-circle img-thumbnail shadow" alt="">
        </div>
        <div class="col-md-4">
           <img src="https://images.unsplash.com/photo-1645351592991-df53a68bc43e" class="img-fluid rounded-circle img-thumbnail shadow" alt="">
        </div>
        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1583077874340-79db6564672e"  class="img-fluid rounded-circle img-thumbnail shadow" alt="">
        </div>
    </div>
</div>
<div class="container mt-4">
    <h1 class="text-uppercase text-primary">Our chef</h1>
    <div class="row mt-3">
        <div class="col-md-4">
            <h3>Peter GRISAI</h3>
            <h6>EXECUTIVE CHEF</h6>
            <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="col-md-4">
            <h3>Alex Thunder</h3>
            <h6>CHEF DE CUISINE
            </h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="col-md-4">
            <h3>Harry SAITIS</h3>
            <h6>PASTRY CHEF</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
    </div>
</div>
